/* Base */

* {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    background-color: #FCF7F8;
}

a { text-decoration: none; }

p a, p a:visited {
    text-decoration: none;
    color: #1157b2;
}

p a:hover {
    text-decoration: underline;
}

code { font-family: 'Roboto Mono'; font-weight: 300; }

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
    width: 95%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 16px;
    zoom: 1;
}

.clear { clear:both; }

header {
    min-height: 64px;
    border-top: 4px solid transparent;
    border-image: linear-gradient(to right, #827191 0%, #84ACCE 100%);
    border-image-slice: 1;
}

header:after {
    display: block;
    height: 1px;
    width: 100%;
    margin: 0 auto;
    content: "";
    background-color: #D0D0D0;
}

header h1 {
    display: block;
    float: left;
    line-height: 64px;
    font-size: 24px;
    font-weight: 300;
    color: #000000;
}

header h1:hover {
    position: relative;
    top: -1px;
    text-shadow: 0px 1px 2px #D0D0D0;
}

nav {
    float: right;
    line-height: 64px;
}

nav a {
    display: block;
    float: left;
    text-align: center;
    margin-left: 16px;
    color: #000000;
}

nav a:hover {
    position: relative;
    top: -1px;
    text-shadow: 0px 1px 2px #D0D0D0;
}

footer {
    min-height: 64px;
    border-top: 1px solid #D0D0D0;
    text-align: center;
}

footer ul { list-style: none; }
footer li { display: inline; margin: 0 16px; line-height: 64px;}
footer a { color: #000000; text-decoration: none; }
footer a:hover {
    position: relative;
    top: -1px;
    text-shadow: 0px 1px 2px #D0D0D0;
}

.fa { color: #A0A0A0; }

#banner {
    width: 100%;
    height: 50%;
    max-width: 100%;
    margin: 0 auto;
    background-position: center center;
    background-size: cover;
}

#banner-bottom {
    width: 100%;
    height: 50%;
    max-width: 100%;
    margin: 0 auto;
    background-position: center bottom;
    background-size: cover;
}

#banner-right {
    width: 100%;
    height: 50%;
    max-width: 100%;
    margin: 0 auto;
    background-position: right top;
    background-size: cover;
}

section {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto 16px auto;
    padding: 16px 0 1px 0;
}

section h2 {
    font-size: 24px;
    font-weight: 300;
    color: #000000;
    text-align: center;
    margin-bottom: 16px;
}

section h3 {
    font-size: 18px;
    font-weight: 300;
    color: #000000;
    text-align: center;
    margin-bottom: 16px;
}

section p {
    text-align: justify;
    margin-bottom: 16px;
}

section figure {
    margin: 0 auto 32px auto;
    text-align: center;
}

section figure img {
    max-width: 100%;
}

section table {
    margin: 16px auto;
    text-align: center;
    border-collapse: collapse;
    border-top: 3px double #D0D0D0;
    border-bottom: 3px double #D0D0D0;
}

section th {
    font-weight: 400;
    height: 24px;
    line-height: 24px;
    padding: 8px;
    border-bottom: 1px solid #D0D0D0;
}

section td {
    height: 24px;
    line-height: 24px;
    padding: 8px;
}

section tbody tr:hover {
    font-weight: 400;
    background-color: #827191;
    color: #FFFFFF;
}

.box {
    display: block;
    width: 464px;
    max-width: 100%;
    margin: 0 8px 16px 8px;
    padding: 16px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px #D0D0D0;
    float: left;
}

.box a, .box a:visited {
    text-decoration: none;
    color: #1157b2;
}

.box a:hover {
    text-decoration: underline;
}

.box ul {
    list-style-type: none;
}

.box-education {
    display: block;
    width: 100%;
    height: 64px;
    margin: 0 0 4px 0;
    float: left;
}

.box-education img {
    display: inline;
    vertical-align: middle;
}

.box-education p {
    line-height: 64px;
}

