/* Base */

* {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    background-color: #fdfdfd;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
    width: 75%;
    max-width: 1024px;
    padding: 0 30px;
    margin: 0 auto;
    zoom: 1;
}

.flex-center {
    width: 75%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/* Site header */

header {
    min-height: 56px;
    background-color: #333;
}

#my-name {
    display: block;
    color: white;
    font-size: 26px;
    float: left;
    line-height: 56px;
    position: relative;
    z-index: 1;
}

nav {
    float: right;
    line-height: 56px;
}

nav .section-link {
    display: block;
    float: left;
    margin: 0;
    padding: 0 10px;
    color: white;
}

nav .section-link:hover {
    background-color: #444;
}

/* Contact Information */

.contact-information {
    min-height: 46px;
    background-color: #d0d0d0;
    text-align: center;
}

.contact-information ul { list-style: none; }
.contact-information li { display: inline; margin: 0 10px; line-height: 46px;}
.contact-information a { color: black; text-decoration: none; }
.contact-information a:hover { color: #13a5d6; }

/* Sections */

section { clear: both; }

.section-title {
    padding-top: 30px;
    text-align: center;
    font-size: 26px;
    line-height: 40px;
}

.section-title:after {
    display: block;
    width: 40px;
    margin: 0 auto;
    content: ' ';
    border: 2px solid #d0d0d0;
}

section h2 {
    font-size: 20px;
    margin: 20px 0;
}

/* Research */

.project { margin-top: 40px;}
.project-title { text-align: center; }
.project-banner {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
.project-description p {
    text-align: justify;
    text-indent: 5em;
    margin-bottom: 20px;
}

/* Software */

.codes {
    width: 75%;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
}

.code {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin: 20px 0;
    padding: 0 10px;
    font-size: 16px;
}

.code a { color: black; text-decoration: none; }
.code a:hover { color: #13a5d6; }

.code ul { list-style: none; }
.code-name { font-size: 20px; }

/* Education */

.degree { width: 256px; text-align: center;}
.degree ul { list-style: none; }
.degree-level { font-size: 20px; }
.degree-year { font-weight: bold; }

/* Teaching */

.courses {
    width: 75%;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
}

.course {
    display: inline-block;
    vertical-align: top;
    width: 236px;
    margin: 20px 0;
    padding: 0 10px;
    font-size: 16px;
}

.course ul { list-style: none; }
.course-code { font-size: 20px; }
.course-role { font-style: italic; }

