---
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ site.title }}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="{{ site.description }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700|Roboto+Mono' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-75782187-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <header>
            <div class="wrap">
                <span id="my-name">{{ site.title }}</span>
                <nav>
                    <a class="section-link" href="#research">Research</a>
                    <a class="section-link" href="#software">Software</a>
                    <a class="section-link" href="#education">Education</a>
                    <!--<a class="section-link" href="#teaching">Teaching</a>-->
                </nav>
            </div>
        </header>
        <div class="contact-information">
            <ul>
                <li>
                    <i class="fa fa-institution fa-lg fa-fw"></i>
                    {{ site.current_institution }}
                </li>
                <li>
                    <a href="mailto:{{ site.email }}">
                        <i class="fa fa-envelope fa-lg fa-fw"></i>
                        {{ site.email }}
                    </a>
                </li>
                <li>
                    <a href="https://github.com/{{ site.github_username }}">
                        <i class="fa fa-github fa-lg fa-fw"></i>
                        {{ site.github_username }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="site-content">
            <section id="research">
                <h1 class="section-title">Research</h1>
                <div class="wrap">
                    {% assign research = site.research | sort: 'order' %}
                    {% for project in research %}
                    <div class="project">
                        <h2 class="project-title">{{ project.title }}</h2>
                        <div class="project-banner" style="background-image: url('{{ project.banner }}');"></div>
                        <div class="project-description">
                            {{ project.content | markdownify }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <section id="software">
                <h1 class="section-title">Software</h1>
                <div class="wrap">
                    {% assign software = site.software | sort: 'order' %}
                    {% for code in software %}
                    <div class="software-project">
                        <img class="software-icon" src="{{ code.icon }}" width=128 height=128>
                        <div class="software-description">
                            <h2>{{ code.title }}</h2>
                            <ul>
                                {% if code.github %}
                                <li>
                                    <a href="{{ code.github }}">
                                        <i class="fa fa-github fa-fw"></i>
                                        Github Repository
                                    </a>
                                </li>
                                {% endif %}
                                {% if code.docs %}
                                <li>
                                    <a href="{{ code.docs }}">
                                        <i class="fa fa-book fa-fw"></i>
                                        Documentation
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                            {{ code.content | markdownify }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <section id="education">
                <h1 class="section-title">Education</h1>
                <div class="flex-center">
                    {% for degree in site.data.education %}
                    <div class="degree">
                        <img src="{{ degree.logo }}" alt="{{ degree.institution }}" width=256 height=110>
                        <ul>
                            <li class="degree-level">{{ degree.level }}</li>
                            <li>{{ degree.field }}</li>
                            <li class="degree-year">{{ degree.year }}</li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <!--
            <section id="teaching">
                <h1 class="section-title">Teaching</h1>
                <div class="courses">
                    {% for course in site.data.teaching %}
                    <div class="course">
                        <ul>
                            <li class="course-code">{{ course.code }}</li>
                            <li>{{ course.title }}</li>
                            <li class="course-role">{{ course.role }} </li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </section>
            -->
        </div>
        <footer>
        </footer>
    </body>
</html>

